.mail {
  width: 100%;
  margin-top: 50px;
  background-color: #7FBCD2;
  color: #E1FFEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-shadow: 1px 1px black;
  padding: 50px;
}

.mailInputContainer>input {
  width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}

.mailInputContainer>button {
  height: 50px;
  background-color: #A5F1E9;
  color: #7FBCD2;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mailInputContainer>button:hover {
  background-color: #FFEEAF;
  color: black;
}